/*  your css code here. If applicable */
body {
    height: 100vh;
    margin-top: 70px;
    background-color: #f0f0f0;
}

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid #ffcc00;
    border-left:   100px solid transparent;
    transform: rotate(35deg);
}

.star:before {
    border-bottom: 80px solid #ffcc00;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star:after {
    position: absolute;
    display: block;
    color: #ffcc00;
    top: 3px;
    left: -105px;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffcc00;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}
